@page
@model LoginRazorPagesTraining.Pages.FailedModel
@{
}
<div class="bg-dark text-light d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="d-grid">
                <H3>You are Wrong somehow!</H3>
                <a asp-area="" asp-page="/Index" type="submit" class="btn btn-primary">Back</a>
            </div>
        </div>
    </div>
</div>